* {
  font-family: Outfit;
  /* font-size: 15px; */
  /* font-weight: 400, 700; */
}

/* 
to do 
-make responsive to sizes-
- Mobile: 375px
- Desktop: 1440px
*/

body {
  background-color: #d5e1ef;
  font-size: 15px;
}
div.container {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  padding-top: 24%;
}

div.qr-card {
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  margin: 0 auto;
  max-width: 325px;
  justify-content: center;
  max-height: 500px;
  box-shadow: 0px 20px 0px #68778d blur;
}

p.card-text-bold {
  justify-content: center;
  padding: 10px;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: x-large;
  margin: 0 auto;
}
p.card-text {
  justify-content: center;
  padding: 10px;
  margin: auto;
  font-weight: 400;
  color: #68778d;
  font-size: larger;
}

img.qr-img {
  padding: 10px;
  margin: auto;
  border-radius: 15px;
  max-width: 300px;
  max-height: 300px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
}

footer {
  display: none;
}
